[project]
	description = Heimerdinger
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ethan (byp5303628)
[access "refs/for/refs/*"]
	read = group user/Ethan (byp5303628)
	push = group user/Ethan (byp5303628)
	label-Code-Review = -2..+2 group user/Ethan (byp5303628)
	label-Verified = -1..+1 group user/Ethan (byp5303628)
	rebase = group user/Ethan (byp5303628)
	removeReviewer = group user/Ethan (byp5303628)
	submit = group user/Ethan (byp5303628)
[access "refs/heads/*"]
	read = group user/Ethan (byp5303628)
	create = group user/Ethan (byp5303628)
	push = +force group user/Ethan (byp5303628)
	pushMerge = group user/Ethan (byp5303628)
[access "refs/tags/*"]
	push = group user/Ethan (byp5303628)
	push = +force group user/Ethan (byp5303628)
