<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>windows</id>
      <activation>
        <os>
          <family>Windows</family>
        </os>
      </activation>
      <properties>
        <app.config.path>C:/sapphire</app.config.path>
      </properties>
    </profile>
    <profile>
      <id>mac</id>
      <activation>
        <os>
          <family>mac</family>
          <name>mac os x</name>
        </os>
      </activation>
      <properties>
        <app.config.path>/Users/yunpeng.byp/sapphire</app.config.path>
      </properties>
    </profile>
    <profile>
      <id>travis</id>
      <activation>
        <os>
          <family>unix</family>
          <name>linux</name>
        </os>
      </activation>
      <properties>
        <app.config.path>./travis</app.config.path>
      </properties>
    </profile>
  </profiles>
</settings>
