*{
    padding: 0;
    margin: 0;

}
.footer{
    font: 10px/50px "Microsoft YaHei","Î¢ÈíÑÅºÚ","Hiragino Sans GB",tahoma,arial,simhei;
    width: 100%;
    text-align: center;
    color: #666;
    margin-bottom: 0;
    background-color: #ededed;
    /*height: 100%;*/

    bottom: 0;
    position: fixed;
}
.topnav{
    padding-bottom: 0;
    padding-top: 5%;
}
.ulbar{
    margin-top: 0.2%;
}
