<!DOCTYPE html>
<html lang="en" class="error-page">
<head>
    <meta charset="UTF-8">
    <title>500 error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap-theme.min.css">

    <!-- Bootstrap Admin Theme -->
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap-admin-theme.css">
    <!--<link rel="stylesheet" media="screen" href="css/common/bootstrap-admin-theme-change-size.css">-->

    <!-- Bootstrap Error Page -->
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap-error-page.css">
    <link rel="stylesheet" media="screen" href="../css/common/mycommon.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
   <!-- <script type="text/javascript" src="js/html5shiv.js"></script>
    <script type="text/javascript" src="js/respond.min.js"></script>-->
    <![endif]-->
</head>

<body>
<div class="container-fluid" style="height: 80%;">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="centering text-center">
                <div class="text-center">
                    <h2 class="without-margin">Don't worry. It's <span class="text-danger"><big>500</big></span> error
                        only.</h2>
                    <h4 class="text-danger">Something is broken, but we will fix it soon</h4>
                </div>
                <div class="text-center">
                    <h3>
                        <small>Choose an option below</small>
                    </h3>
                </div>
                <hr>
                <ul class="pager">
                    <li><a href="about.html">← About</a></li>
                    <li><a href="error-pages.html">Other error pages →</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
.
<div class="footer" style="text-align: center;">

    "黑默丁格公园网 版权所有 2015 保留所有权利"<br>
    "Copyright 2015 HeimerdingerPark.com All rights reserved."
</div>
</body>
</html>