<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于网站的介绍</title>
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen" href="../css/common/mycommon.css">
    <!-- Bootstrap Admin Theme -->
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap-admin-theme.css">
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>欢迎来到黑默丁格公园!</h1>

        <h2>我们的网站是一个关于项目管理和私人博客内容网站，正在开发之中···</h2>

        <p>如果您对我们感兴趣，请在github上关注or联系我们</p>
        <address>
            <strong>HeimerdingerPark, Inc.</strong><br>
            ChangNing, ShangHai<br>
            <br>

        </address>

        <address>
            <strong>EC-league</strong><br>
            <a href="mailto:#">coralinelee5118@gmail.com</a>
            <a href="mailto:#"></a>
        </address>
        <p><a class="btn btn-primary btn-lg" href="DashBoard.html" role="button">返回DashBoard</a></p>
    </div>
</div>
<div class="footer" style="text-align: center;">

    "黑默丁格公园网 版权所有 2015 保留所有权利"<br>
    "Copyright 2015 HeimerdingerPark.com All rights reserved."
</div>
</body>
<script src="../js/framework/jquery-1.11.3.js"></script>
<script src="../js/framework/angular.js"></script>

<script src="../js/framework/bootstrap.min.js"></script>
</html>