<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen" href="../css/common/mycommon.css">
    <!-- Bootstrap Admin Theme -->
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap-admin-theme.css">

</head>
<body>
Sign Up page
</body>
</html>