<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="../css/common/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen" href="../css/common/mycommon.css">
</head>
<body>

</body>
<script src="../js/framework/jquery-1.11.3.js"></script>
<script src="../js/framework/angular.js"></script>
<script src="../js/framework/bootstrap.min.js"></script>
</html>