<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd

        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd"
       default-lazy-init="true">

    <description>Spring 定时任务 配置</description>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <task:annotation-driven/>

    <bean id="reminderEmailJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="reminderEmailJob"/>
        <property name="jobClass" value="com.sapphire.manage.task.ReminderEmailTask"></property>
        <property name="durability" value="true"/>
    </bean>

    <bean id="reminderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="reminderEmailJob"/>
        <property name="cronExpression" value="0 30 19 * * ?"/>
    </bean>

    <bean id="updateStockStatisticsJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="updateStockStat"/>
        <property name="group" value="Stock"/>
        <property name="jobClass" value="com.sapphire.stock.job.UpdateStatisticTask"/>
        <property name="durability" value="true"/>
    </bean>

    <bean id="updateStockStatisticsCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="updateStockStatisticsJob"/>
        <property name="cronExpression" value="0 0 1 * * ?"/>
    </bean>

    <bean id="updateStockItemsJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="updateStockItem"/>
        <property name="group" value="Stock"/>
        <property name="jobClass" value="com.sapphire.stock.job.UpdateStockItemTask"/>
        <property name="durability" value="true"/>
    </bean>

    <bean id="updateStockItemsCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="updateStockItemsJob"/>
        <property name="cronExpression" value="0 0 16 * * ?"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="reminderCronTrigger"/>
                <ref bean="updateStockStatisticsCronTrigger"/>
                <ref bean="updateStockItemsCronTrigger"/>
            </list>
        </property>
        <property name="schedulerContextAsMap">
            <map>
                <!-- spring 管理的service需要放到这里，才能够注入成功 -->
                <description>schedulerContextAsMap</description>
                <entry key="userService" value-ref="userService"/>
                <entry key="stockService" value-ref="stockService"/>
                <entry key="stockStatisticsService" value-ref="stockStatisticsService"/>
            </map>
        </property>
    </bean>


</beans>