<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" media="screen" href="../../css/common/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="../../css/common/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen" href="../../css/common/mycommon.css">
    <style>
        .absolute {
            position: absolute;
        }

        #blog-title-frame {
            height: 15%;
            width: 80%;
            left: 10%;
            top: 5%;
            background: lightblue;
        }

        #blog-content-frame {
            height: 60%;
            width: 80%;
            left: 10%;
            top: 25%;
            background: lightslategray;
        }
    </style>
    <script type="text/javascript">
        var Blog = {
            init: function () {
            },
            render: function () {
            },
            load: function () {
            },
            update: function () {
            }
        }
    </script>
</head>
<body>
<div class="absolute" id="blog-title-frame">
    <div class="absolute" id="title"></div>
    <div class="absolute" id="tag">标签</div>
    <div class="absolute" id="last-modify-time"></div>
    <div class="absolute" id="comments"></div>
    <div class="absolute" id="title-function"></div>
</div>
<div class="absolute" id="blog-content-frame">ok content</div>
</body>
</html>