<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" media="screen" href="../../css/common/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="../../css/common/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen" href="../../css/common/mycommon.css">
    <style>
        #bk {
            background-image: url(../../img/blog/bg-style.jpg);
            background-size: 100%;
            margin-top: 0;
            position: absolute;
        }
    </style>
</head>
<body id="bk">
<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand topnav" href="about.html">
                <img alt="Brand" src="../img/logo.jpg">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills ulbar">
                <li class="active " role="presentation"><a href="#">DashBoard <span class="sr-only">(current)</span></a>
                </li>
                <li role="presentation"><a href="project.html">项目</a></li>
                <li role="presentation"><a href="/blog/my-blogs.html">博客</a></li>
                <li role="presentation"><a href="#" data-target="#myModal" data-toggle="modal">添加问题</a></li>
                <form class="navbar-form navbar-right">
                    <li class="dropdown">
                        <a id="username" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">用户<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/user-info.html">用户信息</a></li>
                            <li><a href="/j_spring_security_logout">注销</a></li>
                        </ul>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="padding-bottom: 111px;">
    <div class="row">
        <div class="col-md-2 col-lg-offset-1">
            <div style="background: lightyellow;">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-info"><strong>个人资料</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-info">用户:</div>
                    <div class="col-lg-6 text-info" id="user"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-info">访问数:</div>
                    <div class="col-lg-6 text-info" id="visit-count"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-info">博客数:</div>
                    <div class="col-lg-6 text-info" id="blogs"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div style="background: lightyellow; padding-left: 20px; padding-right: 20px;">
                <div class="row">
                    <div class="col-lg-12" id="blog-list-frame">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom footer">
    "黑默丁格公园网 版权所有 2015 保留所有权利"<br>
    "Copyright 2015 HeimerdingerPark.com All rights reserved."
</nav>
</body>
<script src="../../js/framework/jquery-1.11.3.js"></script>
<script src="../../js/framework/bootstrap.min.js"></script>
<script src="../../js/framework/jquery.tmpl.min.js"></script>
<script type="text/javascript">
    var BlogList = {
        userId: 0,
        init: function () {
        },
        renderUser: function (data) {
            this.userId = data.userId;
            $("#user").html(data.username);
            $("#visit-count").html("访问：" + data.totalHit);
            $("#blogs").html("博客：" + data.blogs);
        },
        renderList: function (data) {
            var blogListFrame = document.getElementById("blog-list-frame");

            for (var i = 0; i < data.length; i++) {
                var blogItem = $("<a></a>");
                blogItem.attr("href", "/blog/page.html?blogId=" + data[i].blogId);
                var title = $("<div></div>");
                title.html(data[i].title);
                title.appendTo(blogItem);
                var snapshot = $("<div></div>");
                snapshot.html(data[i].contentSnapshot);
                snapshot.appendTo(blogItem);
                var blogVisitCount = $("<div></div>");
                blogVisitCount.html(data[i].hit);
                blogVisitCount.appendTo(blogItem);
                var lastModifyTime = $("<div></div>");
                lastModifyTime.html(data[i].lastModifyTime);
                lastModifyTime.appendTo(blogItem);
                blogItem.appendTo(blogListFrame);
            }
        },
        load: function () {
            this.loadUser();
            this.loadList();
        },
        loadUser: function () {
            var instance = this;
            $.ajax({
                url: "/blog/user-info.ep",
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                success: function (data) {
                    if (data.returnCode == "200" && data.returnMessage == "SUCCESS") {
                        instance.renderUser(data.data);
                    } else {
                        alert("Show Blog Failed! \n" + data.returnMessage);
                    }
                }
            });
        },
        loadList: function () {
            var instance = this;
            $.ajax({
                url: "/blog/list.ep",
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                success: function (data) {
                    if (data.returnCode == "200" && data.returnMessage == "SUCCESS") {
                        instance.renderList(data.data);
                    } else {
                        alert("Show Blog Failed! \n" + data.returnMessage);
                    }
                }
            });
        }
    }
    BlogList.load();
</script>
</html>