<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock List Page</title>
    <link rel="stylesheet" media="screen" href="../../sapphire/css/common/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="../../sapphire/css/common/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen" href="../../sapphire/css/common/mycommon.css">
    <style>
        nav {
            font-size: 250%;
            color: #2b669a;
            padding: 0;
            margin: 0;
        }

        #header {
            background: #e04545;
            color: white;
        }

        body {
            background: #FDFDFD;
        }

        thead tr td {
            font-weight: bold;
        }

        #left-panel {
            background: #43403D;
        }

        #left-panel li a {
            color: white;
            background: #64625f;
        }

        #left-panel li a:hover {
            background: #43403D;
        }
    </style>
</head>
<body>
<!-- Header -->
<nav id="header" class="navbar navbar-default">
    STOCK PAGE
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul id="left-panel" class="nav" data-spy="affix" data-offset-top="125">
                <li id="today">
                    <a href="/sapphire/stock/stock.html">今日推荐</a>
                </li>
                <li id="股票详情">
                    <a href="/sapphire/stock/stock-detail.html">股票详情</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10" style="background: lightyellow">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>股票代码</td>
                            <td>股票名字</td>
                            <td>能否金叉</td>
                            <td>当前MACD</td>
                            <td>当前收盘(元)</td>
                            <td>历史最高(元)</td>
                            <td>当前历史比例（%）</td>
                            <td>MACD成长率(%)</td>
                            <td>FIRST DIFF</td>
                            <td>金叉平均时长(天)</td>
                        </tr>
                        </thead>
                        <tbody id="stock-table">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../sapphire/js/framework/jquery-1.11.3.js"></script>
<script src="../../sapphire/js/framework/bootstrap.min.js"></script>
<script type="text/javascript">
    var stock = {
        todayUrl: "/sapphire/stock/statics/today.ep",
        renderTable: function (data) {
            var tableFrame = $("#stock-table");
            tableFrame.html("");
            for (var i = 0; i < data.length; i++) {
                var tr = $("<tr></tr>");
                var seqTd = $("<td></td>");
                seqTd.html(i + 1);

                var code = data[i].code;

                var codeTd = $("<td></td>");
                codeTd.html(code);
                codeTd.click(function () {
                    self.location = "/sapphire/stock/stock-detail.html?code=" + $(this).html();
                });

                var nameTd = $("<td></td>");
                nameTd.html(data[i].name);

                var isGold = $("<td></td>");
                isGold.html(data[i].goldPossible)

                var macdTd = $("<td></td>");
                macdTd.html(data[i].currentMacd.toFixed(3));

                var priceTd = $("<td></td>");
                priceTd.html(data[i].currentPrice.toFixed(2));

                var highTd = $("<td></td>");
                highTd.html(data[i].highestPrice.toFixed(2));

                var rateTd = $("<td></td>");
                rateTd.html((data[i].currentPrice / data[i].highestPrice * 100).toFixed(2).toString() + "%");

                var increaseTd = $("<td></td>");
                increaseTd.html((data[i].increaseTotal * 100).toFixed(2).toString() + "%");

                var diffTd = $("<td></td>");
                diffTd.html(data[i].currentDiff.toFixed(3));

                var consistDaysTd = $("<td></td>");
                consistDaysTd.html(data[i].averageGoldDays);

                seqTd.appendTo(tr);
                codeTd.appendTo(tr);
                nameTd.appendTo(tr);
                isGold.appendTo(tr);
                macdTd.appendTo(tr);
                priceTd.appendTo(tr);
                highTd.appendTo(tr);
                rateTd.appendTo(tr);
                increaseTd.appendTo(tr);
                diffTd.appendTo(tr);
                consistDaysTd.appendTo(tr);
                tr.appendTo(tableFrame);
            }
        },
        loadStock: function (dataUrl) {
            var instance = this;
            $.ajax({
                url: dataUrl,
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                success: function (data) {
                    if (data.returnCode == "200" && data.returnMessage == "SUCCESS") {
                        instance.renderTable(data.data);
                    } else {
                        alert("Show Stock Failed! \n" + data.returnMessage);
                    }
                }
            });
        },
        init: function () {
            //region Bind update service
            $("#refreshItem").click(function () {
                $.ajax({
                    url: "/sapphire/stock/data/update/item.ep",
                    headers: {
                        "Accept": "application/json",
                        "Content-type": "application/json"
                    },
                    success: function (data) {
                        if (data.returnCode == "200" && data.returnMessage == "SUCCESS") {
                            alert("Updating...");
                        } else {
                            alert("Show Stock Failed! \n" + data.returnMessage);
                        }
                    }
                })
            });

            //endregion

            //region Bind select service

            var instance = this;
            instance.loadStock(instance.todayUrl);
            //endregion
        }
    }
    stock.init();
</script>
</html>