<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock List Page</title>
    <link rel="stylesheet" media="screen" href="../../api/css/common/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="../../api/css/common/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen" href="../../api/css/common/mycommon.css">
    <style>
        nav {
            font-size: 250%;
            color: #2b669a;
            padding: 0;
            margin: 0;
        }

        #header {
            background: #e04545;
            color: white;
        }

        body {
            background: #FDFDFD;
        }

        thead tr td {
            font-weight: bold;
        }

        #left-panel {
            background: #43403D;
        }

        #left-panel li a {
            color: white;
            background: #64625f;
        }

        #left-panel li a:hover {
            background: #43403D;
        }
    </style>
</head>
<body>
<!-- Header -->
<nav id="header" class="navbar navbar-default">
    STOCK DETAIL PAGE
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul id="left-panel" class="nav" data-spy="affix" data-offset-top="125">
                <li id="today">
                    <a href="/api/stock/stock.html">今日推荐</a>
                </li>
                <li id="股票详情">
                    <a href="/api/stock/stock-detail.html">股票详情</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10" style="background: lightyellow">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        关于该股票,该页面显示的为股票的风控信息,主要包括一些基本信息以及历史该股票的盈利表现
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">代码:</div>
                        <div id="code" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">名称:</div>
                        <div id="name" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">能否金叉:</div>
                        <div id="goldPossible" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">当前MACD:</div>
                        <div id="currentMacd" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">当前DIFF:</div>
                        <div id="currentDiff" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">金叉平均时长:</div>
                        <div id="averageGoldDays" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">成长率:</div>
                        <div id="increaseTotal" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">历史最高价:</div>
                        <div id="highestPrice" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">当前股价:</div>
                        <div id="currentPrice" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">金叉平均增幅:</div>
                        <div id="averageRate" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">标准差:</div>
                        <div id="standardDeviation" class="col-md-6"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-6">股价比:</div>
                        <div id="pricePercentage" class="col-md-6"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>开始日期</td>
                            <td>结束日期</td>
                            <td>增幅</td>
                            <td>最高增幅</td>
                            <td>持续日期</td>
                            <td>入坑diff值</td>
                        </tr>
                        </thead>
                        <tbody id="stock-detail-table">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../api/js/framework/jquery-1.11.3.js"></script>
<script src="../../api/js/framework/bootstrap.min.js"></script>
<script type="text/javascript">
    var stockDetail = {
        infoUrl: "/api/stock/info.ep",
        renderTable: function (data) {

            $("#code").html(data.code);
            $("#name").html(data.name);
            $("#goldPossible").html(data.goldPossible);
            $("#currentMacd").html(data.currentMacd);
            $("#currentPrice").html(data.currentPrice);
            $("#currentDiff").html(data.currentDiff);
            $("#highestPrice").html(data.highestPrice);
            $("#increaseTotal").html(data.increaseTotal);
            $("#averageGoldDays").html(data.averageGoldDays);
            $("#averageRate").html(data.macdRiskDto.averageRate);
            $("#pricePercentage").html(data.macdRiskDto.pricePercentage);
            $("#standardDeviation").html(data.macdRiskDto.standardDeviation);

            var tableFrame = $("#stock-detail-table");
            tableFrame.html("");
            var cycles = data.macdRiskDto.goldCycles;
            for (var i = 0; i < cycles.length; i++) {
                var tr = $("<tr></tr>");

                var seqTd = $("<td></td>");
                seqTd.html(i + 1);

                var codeTd = $("<td></td>");
                codeTd.html(cycles[i].startDate);

                var nameTd = $("<td></td>");
                nameTd.html(cycles[i].endDate);

                var isGold = $("<td></td>");
                isGold.html(cycles[i].increase)

                var macdTd = $("<td></td>");
                macdTd.html(cycles[i].highIncrease);

                var priceTd = $("<td></td>");
                priceTd.html(cycles[i].consistDays);

                var highTd = $("<td></td>");
                highTd.html(cycles[i].diff);

                seqTd.appendTo(tr);
                codeTd.appendTo(tr);
                nameTd.appendTo(tr);
                isGold.appendTo(tr);
                macdTd.appendTo(tr);
                priceTd.appendTo(tr);
                highTd.appendTo(tr);
                tr.appendTo(tableFrame);
            }
        },
        loadStockDetail: function (search) {
            var instance = this;
            $.ajax({
                url: instance.infoUrl + search,
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                success: function (data) {
                    if (data.returnCode == "200" && data.returnMessage == "SUCCESS") {
                        instance.renderTable(data.data);
                    } else {
                        alert("Show Stock Failed! \n" + data.returnMessage);
                    }
                }
            });
        },
        init: function () {
            var instance = this;
            instance.loadStockDetail(window.location.search);
        }
    }
    stockDetail.init();
</script>
</html>