<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <!-- [公共Appender] 默认 -->
    <appender name="DEFAULT-APPENDER"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/root/logs/sapphire/common-default.log"/>
        <param name="append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ISO8601} %-5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <!-- [应用Appender] finsign扩展集成 -->
    <appender name="sapphire-common-integration-appender"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file"
               value="/root/logs/sapphire/sapphire-integration.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ISO8601} %-5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="sapphire-biz-stock-appender"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file"
               value="/root/logs/sapphire/sapphire-biz-stock.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ISO8601} %-5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="sapphire-common-dal-appender"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file"
               value="/root/logs/sapphire/sapphire-common-dal.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ISO8601} %-5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="sapphire-common-task-appender"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file"
               value="/root/logs/sapphire/sapphire-common-task.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ISO8601} %-5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender name="sapphire-biz-task-appender"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file"
               value="/root/logs/sapphire/sapphire-biz-task.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ISO8601} %-5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <logger name="com.sapphire" additivity="false">
        <level value="info" />
        <appender-ref ref="DEFAULT-APPENDER" />
    </logger>

    <logger name="com.sapphire.common.integration" additivity="false">
        <level value="info"/>
        <appender-ref ref="sapphire-common-integration-appender"/>
    </logger>

    <logger name="com.sapphire.biz.stock" additivity="false">
        <level value="info"/>
        <appender-ref ref="sapphire-biz-stock-appender"/>
    </logger>

    <logger name="com.sapphire.common.dal" additivity="false">
        <level value="info"/>
        <appender-ref ref="sapphire-common-dal-appender"/>
    </logger>

    <logger name="com.sapphire.common.task" additivity="false">
        <level value="info"/>
        <appender-ref ref="sapphire-common-task-appender"/>
    </logger>

    <logger name="com.sapphire.biz.task" additivity="false">
        <level value="info"/>
        <appender-ref ref="sapphire-biz-task-appender"/>
    </logger>

    <!-- COMMON DAL -->
    <logger name="COMMON-DAL" additivity="false">
        <level value="info"/>
        <appender-ref ref="COMMON-DAL-APPENDER"/>
    </logger>

    <appender name="COMMON-DAL-APPENDER"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file"
               value="/root/logs/sapphire/common-dal-pref.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ISO8601} %-5p [%t] - %m%n"/>
        </layout>
    </appender>
    <!-- COMMON DAL -->

    <!-- COMMON INTEGRATION -->
    <logger name="COMMON-INTEGRATION" additivity="false">
        <level value="info"/>
        <appender-ref ref="COMMON-INTEGRATION-APPENDER"/>
    </logger>

    <appender name="COMMON-INTEGRATION-APPENDER"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file"
               value="/root/logs/sapphire/common-integration-pref.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ISO8601} %-5p [%t] - %m%n"/>
        </layout>
    </appender>
    <!-- COMMON INTEGRATION -->

</log4j:configuration>